/.classpath
/.buildpath
/.project
/.settings/
/.idea
*.iml
/out
/bin/**
gen/**
/target/**
/gen-external-apklibs/**
/target
/proguard_logs/**
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
/local.properties
/build
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
.DS_Store
.classpath
.project
.gradle
build/
